@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Open+Sans+Condensed:300,700");
@import "body.css"; /*inclusion de la deuxième feuille de style*/ 

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 50%;
		font: inherit;
		vertical-align: baseline;
	}

	body {
		background-color: #e8e8e8;
		background-image: url("images/bg02.png");
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		color: #565656;
	}

	ol, ul {
		list-style: none;
	}


/* Logo */
	
	#logo {
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		font-size: 2em;
		letter-spacing: 0.1em;
	}

		#logo a {
			display: block;
			background-color: #c94663;
			background-image: url("images/bg01.png");
			padding: 0.875em 0.25em;
			border-radius: 0.2em;
			text-align: center;
			box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15), 0 0.025em 0.15em 0em rgba(0, 0, 0, 0.25);
			text-decoration: none;
			color: #fff;
		}

/* Nav */

	#nav > ul > li > ul {
		display: none;
	}

	#nav ul {
		margin: 0;
	}

	#nav li {
		border-top: solid 1px rgba(0, 0, 0, 0.25);
		box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
		padding: 0.5em 0 0.5em 0;
	}

		#nav li:first-child {
			border: 0;
			box-shadow: none;
			padding-top: 0;
		}

		#nav li:last-child {
			padding-bottom: 0;
		}

		#nav li a {
			display: block;
			padding: 0.4em 1em 0.4em 1em;
			text-decoration: none;
			border-radius: 0.4em;
			outline: 0;
			-moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
			-webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
			-ms-transition: background-color .25s ease-in-out, color .25s ease-in-out;
			transition: background-color .25s ease-in-out, color .25s ease-in-out;
		}

		#nav li.current a {
			background-color: #272E39 !important;
			background-color: rgba(0, 0, 0, 0.15) !important;
			box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
			font-weight: 700;
			color: #fff;
		}

		#nav li:hover a {
			background-color: rgba(255, 255, 255, 0.1);
			color: #fff;
		}

	/* MENU */

	#menu {
		color: #aaa;
		color: rgba(255, 255, 255, 0.55);
		text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
		width: 14em;
		padding: 3em 1.35em 1em 1.15em;
		background: #364050 url("images/bg01.png");
		overflow-y: auto;
		left: 0;
		box-shadow: inset -0.1em 0em 0.35em 0em rgba(0, 0, 0, 0.15);
	}

		#menu form input, #menu form select, #menu form textarea {
			border: 0;
		}

		#menu section, #menu nav {
			position: relative;
			margin: 2em 0 0 0;
			font-size: 0.9em;
		}

			#menu section:before, #menu nav:before {
				content: '';
				border-top: solid 1px;
				border-bottom: solid 1px;
				border-color: #171E29;
				border-color: rgba(0, 0, 0, 0.25);
				box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075), 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
				display: block;
				height: 0.5em;
				margin: 0 0 2em 0;
			}

		#menu strong, #menu b {
			color: #fff;
		}

		#menu a {
			color: #d4dde0;
		}

		#menu h2, #menu h3, #menu h4, #menu h5, #menu h6 {
			color: #fff;
		}

		#menu header {
			margin: 0 0 1.25em 0;
		}

		/*Boite texte*/

		.box.text-style1 .inner { /*boite de texte de présentation*/
			position: relative;
			background-color: #272E39;
			background-color: rgba(0, 0, 0, 0.15);
			border-radius: 0.4em;
			padding: 1.25em;
			box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
		}

		/*Boite de recherche*/


		input[type=text] /*style de la barre de recherche et plus particulierement de la barre de recherche rapide*/
		{
		    color: #979797;
		    height: 28px;
		    padding-left: 10px;
		    text-decoration: none;
		    background-repeat: repeat-x;
		    border-radius: 5px; 

		    border: 0;
		}
		

